apiVersion: v1
kind: ConfigMap
metadata:
  name: test-mq-receiver-config
data:
  application.yml: |
    server:
      port: 8080

    spring:
      rabbitmq:
        host: rabbitmq-cluster.default.svc.cluster.local
        port: 5672
        username: admin
        password: admin
        listener:
          simple:
            acknowledge-mode: manual
            retry:
              enabled: true
              initial-interval: 5000
              max-attempts: 10
              max-interval: 30000
              multiplier: 3.0
